
{% extends 'header.html'  %} 

{%  block myContent  %}
<form action="http://127.0.0.1:8000/student/deletesearch/" method="post">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-borderless">
                
                <tr>
                    <td>Admnno</td>
                    <td><input name="admnno" type="number" class="form-control" ></td>
                </tr>
                
                    <td></td>
                    <td><center><button type="submit" class="btn-success form-control">SEARCH</center</button></td>
                </tr>
            </table>
        </form>
            {% if data %} 
            <form action="http://127.0.0.1:8000/student/delete_action_api/" method="post">
<table class="table">
    {% for i in data %} 
    <tr>
        <td></td>
        <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control" readonly</td>
    </tr>
    
    <tr>
        <td>Name</td>
        <td><input readonly name="newname" value="{{i.name}}" type="text" class="form-control"</td>
    </tr>
    <tr>
        <td>Admnno</td>
        <td><input readonly name="newadmnno" value="{{i.admnno}}" type="text" class="form-control"</td>
    </tr>
    <tr>
        <td>Rollno</td>
        <td><input readonly name="newrollno" value="{{i.rollno}}" type="text" class="form-control"</td>
    </tr>
    <tr>
        <td>College</td>
        <td><input readonly name="newcollege" value="{{i.college}}" type="text" class="form-control"</td>
    </tr>
    <tr>
        <td>Parentname</td>
        <td><input readonly name="newdparentname" value="{{i.parentname}}" type="text" class="form-control"</td>
    </tr>

    
    
    <tr>
        <td>Mobilenumber</td>
        <td><input readonly name="newmobilenumber" value="{{i.mobilenumber}}" type="text" class="form-control"</td>
    </tr>
    <tr>
        <td>Department1</td>
        <td><input readonly name="newdepartment1" value="{{i.department1}}" type="text" class="form-control"</td>
    </tr>
    
    <tr>
        <td></td>
        <td><button type="submit" class="btn btn-warning">DELETE</button></td>
    </tr>
    {% endfor %}
</table>
</form>
{% endif %}


        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>

    </div>
</div>
{% endblock %}


