<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Detail</title>
</head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

           
    <style >
        body {
          background-color: rgb(109, 115, 196);
          background: linear-gradient(#000000,#0f9b0f);
          height: 100vh;
            }
        h1{
            color: rgb(243, 239, 239);
            text-align: center;
            text-shadow: burlywood;
        }
        p{
            color: azure;
            text-align: left;
        }
        .previous {
  background-color: #dab7b7;
  color: rgb(14, 13, 13);
        </style>
    <h1>About Us</h1>
    <p>
        We are having good and leading Doctors from all over India
    </p>
    <a href="http://127.0.0.1:8000/patient/homeui/" class="previous"> &laquo; Previous</a>
</body>
</html>