{% extends 'header.html' %} 

{% block y %} 


<style>
    body{
        
        background:radial-gradient(#00d9ff,#3f4bf4); 
         height: 100vh;
         font-family: serif; 
         text-shadow: 0 0 0.5px #1900ff, 0 0 0.5px #8c00ff;
         color: white;
        
    }
    h1 {
    text-shadow: 0 0 3px #1900ff, 0 0 5px #8c00ff;
   
    font-family: serif;
}
    .table{
  
   font-family: serif;
   font-family: sans-serif;
   color: white;
}




</style>



<h1 align="center" <font color="white">SEARCH</h1>
<div class="container">
    <div class="row">
        <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/faculty/searchh/" method="POST">
            <table class="table table-borderless">
                <tr>
                    <td><b><font color="white">FACULTY CODE</font></td>
                    <td><input name="faculty_code"  type="number" class="form-control"></td>
                </tr>
                
                
                <tr>
                    <td></td>
                    <td align="center"><button type="submit" class="btn btn-info">SEARCH</button></td>
                </tr>
            </table>
        </form>

            {% if data %} 

            <table class="table table-borderless table-striped">
                {% for i in data %}
               
                <tr font color="white">
                    <td>FACULTY CODE</td>
                    <td>{{i.faculty_code}}</td>
                </tr>

                <tr font color="white">
                    <td>NAME</td>
                    <td>{{i.name}}</td>
                </tr>

                <tr font color="white">
                    <td>DEPARTMENT</td>
                    <td>{{i.department}}</td>
                </tr>

                <tr font color="white">
                    <td>ADDRESS</td>
                    <td>{{i.address}}</td>
                </tr>

                <tr font color="white">
                    <td>MOBILE NO</td>
                    <td>{{i.mobilenumber}}</td>
                </tr>


                {% endfor %} 
            </table>

           {% endif %}

    </div>
    </div>  
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
</div>

{% endblock    %}
    