{% extends 'header.html' %}
{% block myDic %}



    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4 col-lg-4 col-xl-4">
            </div>
            <div class="col col-12 col-sm-4 col-lg-4 col-xl-4">
            <h1 style="color: blue ; font-size: xx-large; font-style: italic;" >ADD DETAILS</h1>


            <form action="http://127.0.0.1:8000/doctor/adddd/" method="POST">


                <table class="table table-borderless">
                    <tr>
                        <td>Name</td>
                        <td> <input name="name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td> <input name="address" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td> <input name="email" type="text" class="form-control"></td>

                        
                    </tr>
                    <tr>
                        <td>Moblie number</td>
                        <td> <input name="phone" type="text" class="form-control"></td>

                    </tr>
                    <tr>
                        <td>Doctor code</td>
                        <td> <input name="doctorcode" type="text" class="form-control"></td>

                    </tr>
                    <tr>
                        <td>Specilization</td>
                        <td> <input name="special" type="text" class="form-control"></td>

                    </tr>
                   
                    
                    <tr>
                        <td> </td>
                        <td> <center><button class="btn btn-danger">Register</button> </center>
                        </td>
                    </tr>
                </table>
            </form>
            </div>


            <div class="col col-12 col-sm-4 col-lg-4 col-xl-4">

            </div>
        </div>
    </div>

    {% endblock %}