{% extends 'bank/header.html' %}

{% block myContent %}

     
    <div class="container">
        <div class="row">
            <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <form action="http://127.0.0.1:8000/bank/bsignin" method="post">
                    <table class="table table-borderless">
                        <tr>
                            <td>Username</td>
                            <td><input name="buildingno" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input name="ownername" type="text" class="form-control"></td>
                        </tr>
                      
                        <tr>
                            <td></td>
                            <td><center><Button class="btn btn-info">Signin</Button></center></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
        </div>
    </div>
    {% endblock %}