{% extends 'header.html' %}
{% block mycontent %}
<title>search page</title>

<div class="container">
    <body>
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-xl-8 col-xxl-8">
            <form action="http://127.0.0.1:8000/student/search/" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:navy;">Adminno</td>
                        <td><input type="number" name="adminno"class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-success">SEARCH</button></td>
                    </tr>
                </table>
            </form>

                {% if data %}

                    <table class="table table-borderless table-striped">
                        {% for i in data %}
                            <tr>
                                <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:sienna">Name</td>
                                <td>{{i.name}}</td>
                            </tr>
                            <tr>
                                <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:sienna;">Rollno</td>
                                <td>{{i.rollno}}</td>
                            </tr>
                            <tr>
                                <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:sienna;">Adminno</td>
                                <td>{{i.adminno}}</td>
                            </tr>
                            <tr>
                                <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:sienna;">college</td>
                                <td>{{i.college}}</td>
                            </tr>
                            <tr>
                                <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:sienna;">Parent</td>
                                <td>{{i.parent}}</td>
                            </tr>
                            <tr>
                                <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:sienna;">Mobnum</td>
                                <td>{{i.mobnum}}</td>
                            </tr>
                            <tr>
                                <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:sienna;">Department</td>
                                <td>{{i.department}}</td>
                            </tr>

                        {% endfor %}    
                    </table>
                {% endif %}
        </div>
        
        <div class="col col-12 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>






{% endblock %}
