{% extends 'headings.html'  %} 

{%  block mycontent  %}
<form action="http://127.0.0.1:8000/doctors/updatesearch/" method="post">
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <center>
                <h2>UPDATE RECORD</h2>
            </center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-borderless">
                
                <tr>
                    <td>Doctor Code</td>
                    <td><input name="dcode" type="number" class="form-control" ></td>
                </tr>
                
                    <td></td>
                    <td><center><button type="submit" class="btn-success form-control">SEARCH</center</button></td>
                </tr>
            </table>
        </form>
            {% if data %} 
            <form action="http://127.0.0.1:8000/doctors/update_action_api/" method="post">
<table class="table table-borderless">
    {% for i in data %} 
    <tr>
        <td></td>
        <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>Doctor Code</td>
        <td><input name="newdcode" value="{{i.dcode}}" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Doctor name</td>
        <td><input name="newdname" value="{{i.dname}}" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Doctor Address</td>
        <td><input name="newdaddress" value="{{i.daddress}}" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input name="newdmobile" value="{{i.dmobile}}" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Specialization</td>
        <td><input name="newdspecial" value="{{i.dspecial}}" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>email</td>
        <td><input name="newdemail" value="{{i.demail}}" type="text" class="form-control"></td>
    </tr>
    
        <td></td>
        <td><button type="submit" class="btn btn-warning">UPDATE</button></td>
    </tr>
    {% endfor %}
</table>
</form>
{% endif %}


        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>

    </div>
</div>
{% endblock %}


