{% extends 'header.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/Books/update_search_api/" method="post">
            <center><marquee behavior="scroll" direction="left"><h4>BOOKS APP</h4></marquee></center>
            <table class="table table-borderless">
                <tr>
                    <td><h6>BOOK NAME</h6></td>
                    <td><input name="book_name" placeholder="ENTER THE BOOK NAME TO UPDATE" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><center><button type="submit" class="btn btn-outline-secondary"><h6>SEARCH</h6></button></center></td>
                </tr>
            </table>
           </form>
           {% if data %}
           <form action="http://127.0.0.1:8000/Books/update_api/" method="post">
            <table class="table table-borderless">
                  {% for i in data %}
                  <tr>
                       <td></td>
                       <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
                   </tr>
                    <tr>
                        <td>BOOK NAME</td>
                        <td><input name="newbookname" value="{{i.book_name}}" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                     <td>AUTHOR</td>
                     <td><input name="newauthor" value="{{i.author}}" type="text" class="form-control"></td>
                   </tr>
                   <tr>
                    <tr>
                        <td>DESCRIPTION</td>
                        <td><input name="newdescription" value="{{i.description}}" type="text" class="form-control"></td>
                    </tr>
                     <tr>
                         <td>PRICE</td>
                         <td><input name="newprice" value="{{i.price}}" type="text" class="form-control"></td>
                     </tr>
                     <tr>
                      <td>CATEGORY</td>
                      <td><input name="newcategory" value="{{i.category}}" type="text" class="form-control"></td>
                    </tr>
                  
                       <tr>
                       <td></td>
                       <td> <center> <button type="submit" class="btn btn-outline-secondary">UPDATE</button></center></td>
                 </tr>
                  {% endfor %}
                </table>
            </form>

           {% endif %}
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
     
{% endblock %}