<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management</title>
</head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

           
    <style >
        body {
          background-color: rgb(109, 115, 196);
          background: linear-gradient(#c31432,#240b36);
          height: 100vh;
            }
        h1{
            color: rgb(243, 239, 239);
            text-align: center;
        }
        </style>
    <h1>Welcome !!</h1>
    <p><b> Click image to visit Hospital Management </b></p>
    <p><a href="http://127.0.0.1:8000/patient/addui/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEmaA_LoKLoNkkBX4qsPzYcd6l8P3P0q-YEA&usqp=CAU"  style="width:100px;height:100px;" class=" rounded-circle"></a></a></p>
    <p><b> Click image to visit Doctors Details </b></p>
    <p><a href="http://127.0.0.1:8000/doctor/insertui/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR8-J2x-CNvzFbWHPRwxzbGiYFaNnFFyHXAw&usqp=CAU"  style="width:100px;height:100px;" class=" rounded-circle"></a></a></p>
    
</div>
</div>
</div> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>