{% extends 'header.html' %}

{% block MyContent %}
<br><br>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
                <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <form action="../delete_searchapi/" method="post">
                    <table class="table table-borderless">
                        <tr>
                            <td ><h4 style="font-weight: bold;">Enter the Librarian code to delete</h4></td>
                            <td><input name="Lcode" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn btn-danger">Search</button></td>
                        </tr>
                    </table>
                </form>
                    {%  if data %}
                    <form action="../delete_data/" method="post">
                 <table class="table table-borderless table-striped">
                  {% for i in data %}
                  <tr>
                      <td></td>
                      <td><input name="newid" value={{i.id}} type="hidden" class="form-control"></td>
                  </tr>
                  <tr>
                      <td >LIBRARIAN CODE</td>
                      <td ><input name="newLcode" value="{{i.Lcode}}" type="text" class="form-control"></td>
                      
                  </tr>
                  <tr>
                    <td > NAME</td>
                    <td ><input  name="newName" value="{{i.Name}}" type="text" class="form-control"></td>
                    
                </tr>
                <tr>
                    <td >ADDRESS</td>
                    <td ><input name="newAddress" value="{{i.Address}}" type="text" class="form-control"></td>
                    
                </tr>
                <tr>
                    <td >MOBILE NUMBER</td>     
                    
                    <td ><input name="newMobile" value="{{i.Mobile}}" type="text" class="form-control"></td>
                      </tr>
                      
                <tr>
                   
                </tr>
                <td >PINCODE</td>
                    <td ><input name="newPincode" value="{{i.Pincode}}" type="text" class="form-control"></td>
                <tr>
                    <td >Email</td>
                    <td ><input name="newEmail" value="{{i.Email}}" type="text" class="form-control"></td>
                    
                </tr>
                
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-danger">DELETE</button></td>
            </tr>
            {% endfor %}
            

             </table>
            </form>
             {% endif %}
                
            </div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
    </div>
</div>


{% endblock %}