{% extends 'headings1.html'  %} 

{%  block mycontent  %}
<form action="http://127.0.0.1:8000/patients/deletesearch/" method="post">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
          <center><h2><u>DELETE RECORDS</u></h2></center>
         <table class="table table-borderless">
                <tr>
                    <td>Patient code</td>
                    <td><input name="pcode" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-success">Search</button></td>
                </tr>
                
            </table></form>
            {% if data %} 
            <form action="http://127.0.0.1:8000/patients/delete_action_api/" method="post">
<table class="table table-borderless">
    {% for i in data %} 
    <tr>
        <td></td>
        <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>Patient Code</td>
        <td><input name="newpcode" value="{{i.pcode}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>Patient Name</td>
        <td><input name="newpname" value="{{i.pname}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input name="newpaddress" value="{{i.paddress}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input name="newpemail" value="{{i.pemail}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td><input name="newpphone" value="{{i.pphone}}" type="text" class="form-control" readonly></td>
    </tr>
    <tr>
        <td>Pincode</td>
        <td><input name="newppincode" value="{{i.ppincode}}" type="text" class="form-control" readonly></td>
    </tr>
    
    
        <td></td>
        <td><button type="submit" class="btn btn-warning">DELETE</button></td>
    </tr>
    {% endfor %}
</table>
</form>
{% endif %}


        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>

    </div>
</div>
{% endblock %}

