{% extends 'headings1.html' %}
{% block mycontent %}

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
             
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <center> <h2 >Patient Registration</h2>
      
      </center>
         <form action="http://127.0.0.1:8000/patients/addpatient/" method="post">
          <table class="table table-borderless table-striped">
              <tr>
                  <td >Patient Code</td>
                  <td><input name="pcode" type="text" class="form-control"></td>
              </tr>
              <tr>
                  <td >Patient Name</td>
                  <td><input name="pname" type="text" class="form-control"></td>
              </tr>
              <tr>
                  <td>Address</td>
                  <td><input name="paddress" type="text" class="form-control"></td>
              </tr>
              <tr>
                  <td >Email</td>
                  <td><input name="pemail" type="text" class="form-control"></td>
              </tr>
              <tr>
                  <td >Phone  Number</td>
                  <td><input name="pphone" type="text" class="form-control"></td>
              </tr>
              <tr>
                  <td >Pincode</td>
                  <td><input name="ppincode" type="text" class="form-control"></td>
              </tr>
              
              <tr>
                  <td></td>
                  <td><button class="btn btn-success">Register</button></td>
              </tr>
          </table>  </form>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
</div>

    
{% endblock  %}