{% extends 'headings1.html' %}
{% block mycontent %}

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
        <center><h2><u>SEARCH RECORDS</u></h2></center>
           <form action="http://127.0.0.1:8000/patients/searchapi/" method="post">
            <table class="table table-borderless">
                <tr>
                    <td>Patient Code</td>
                    <td><input name="pcode" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-success">Search</button></td>
                </tr>
                
            </table></form>
        {% if data %}
            <table class="table table-borderless">
                {% for i in data %}
                <tr>
                    <td >Patient Code</td>
                    <td>{{ i.pcode }}</td>
                    
                </tr>
                <tr>
                    <td >Patient Name</td>
                    <td>{{ i.pname}}</td>
                    
                </tr>
                <tr>
                    <td >Address</td>
                    <td>{{ i.paddress }}</td>
                    
                </tr>
                <tr>
                    <td >Phone Number</td>
                    <td>{{ i.pphone }}</td>
                    
                </tr>
                <tr>
                    <td >Pincode</td>
                    <td>{{ i.ppincode }}</td>
                    
                </tr>

                {% endfor %}
            </table>







        {% endif %}
        
        </div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            
            
            
            
           




    </div>
</div>
{% endblock  %}
    