{% extends 'head.html' %}
{% block myCodes %}

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <br>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Roll No</th>
                        <th>Admission Number</th>
                        <th>College Name</th>
                        <th>Parents Name</th>
                        <th>Mobile Number</th>
                        <th>Department</th>

                        
                    </tr>

                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.rollno}}</td>
                        <td>{{i.admno}}</td>
                        <td>{{i.college}}</td>
                        <td>{{i.parent}}</td>
                        <td>{{i.mobno}}</td>
                        <td>{{i.dept}}</td>
                    </tr>
                   {% endfor %}

                </tbody>

            </table>
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl 2"></div>
    </div>
</div>

{% endblock %}