
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    #bg {
      background-color: rgb(211, 252, 201);
    }
  </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Add Faculty</title>
    
</head>
<body id="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="">College Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/faculty/">Add Faculty</a>
              <a class="nav-link" href="http://127.0.0.1:8000/faculty/viewfaculty/">View Faculties</a>
              <a class="nav-link" href="http://127.0.0.1:8000/faculty/updatefaculty/">Update Faculty</a>
              <a class="nav-link" href="http://127.0.0.1:8000/faculty/deletefaculty/">Delete Faculty</a>
              <a class="nav-link" href="http://127.0.0.1:8000/faculty/searchfaculty/">Search Faculty</a>
              <a href="http://127.0.0.1:8000/faculty/home/"><button class="btn btn-outline-light">Home</button></a>
            </div>
          </div>
        </div>
      </nav>
{%  block myCode %}


{% endblock %}
</body>
</html>
