{% extends 'header.html' %} 

{% block x %} 



<style>
    body{
        
        background:radial-gradient(#00d9ff,#3f4bf4); 
         height: 100vh;
         font-family: serif; 
         text-shadow: 0 0 0.5px #1900ff, 0 0 0.5px #8c00ff;
         color: white;
    }
    h1 {
        text-shadow: 0 0 3px #1900ff, 0 0 5px #8c00ff;
   
   font-family: serif;
}
    .table{
   text-shadow: 2px 2px 8px #00d9ff;
   font-family: serif;
   font-family: sans-serif;
   color: white;
}



</style>




<h1 align="center" >DELETE DETAILS </h1>
<div class="container">
    <div class="row">
        <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/student/apidelete/" method="POST">
            <table class="table table-borderless">
                <tr>
                    <td><b>FACULTY CODE</td>
                    <td><input name="admno" type="number" class="form-control"></td>
                </tr>
                
                
                <tr>
                    <td></td>
                    <td align="center"><button type="submit" class="btn btn-info">SEARCH</button></td>
                </tr>
            </table>
        </form>

            {% if data %} 
            <form action="http://127.0.0.1:8000/student/delete/" method="POST">

            <table class="table table-borderless table-striped">
                {% for i in data %}
               
                <tr>
                    <td><b></td>
                    <td><input name="id" placeholder="id" type="hidden" value="{{i.id}}" class="form-control" readonly ></td>
                </tr>
                
                <tr>
                    <td><b>NAME </td>
                    <td><input name="name" placeholder="NAME" value="{{i.name}}" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><b>ROLL NUMBER</td>
                    <td><input name="rollno" placeholder="ROLL NUMBER" value="{{i.rollno}}" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><b>ADMISSION NUMBER</td>
                    <td><input name="admno" placeholder="ADMISSION NUMBER" value="{{i.admno}}" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><b>COLLEGE</td>
                    <td><input name="college" placeholder="COLLEGE" value="{{i.college}}" type="text" class="form-control"></td>
                </tr>
                
                <tr>
                    <td><b>PARENT NAME</td>
                    <td><input name="parent_name" placeholder="PARENT NAME" value="{{i.parent_name}}" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td><b>MOBILE NUMBER</td>
                    <td><input name="mobile" placeholder="MOBILE NUMBER" value="{{i.mobile}}" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td><b>DEPARTMENT</td>
                    <td><input name="department" placeholder="DEPARTMENT" value="{{i.department}}" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><button class="btn btn-danger">DELETE</button></td>
                </tr>


                {% endfor %} 
            </table>
        </form>

           {% endif %}

    </div>
    </div>  
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
</div>

{% endblock    %}
    