{% extends 'header.html' %}
{% block mycontent %}
<title>student addpage</title>
 <body >
    <div class="container">
        
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-8 col-md-8 col-xl-8 col-xxl-8">
                <form action="http://127.0.0.1:8000/student/add/" method="post">
                    <table class="table table-borderless">
                        <tr>
                            <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold;">Name</td>
                            <td><input name="name" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold;">Rollno</td>
                            <td><input type="number" name="rollno"class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold;">Adminno</td>
                            <td><input type="number" name="adminno"class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: bold;">College</td>
                            <td><input type="text" name="college"class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold;">Parent</td>
                            <td><input type="text" name="parent"class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold;">Mobnum</td>
                            <td><input type="number" name="mobnum"class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold;">Department</td>
                            <td><input type="text" name="department" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-success">SUBMIT</button></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col col-12 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
        </div>
    </div>
</body>
{% endblock %}


