{% extends 'header.html' %}
{% block mycontent %}
<title>update page</title>

<div class="container">
    <body class="mycolor">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-xl-8 col-xxl-8">
            <form action="http://127.0.0.1:8000/student/updatesearchapi/" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:navy;">Adminno</td>
                        <td><input type="number" name="adminno"class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-success">SEARCH</button></td>
                    </tr>
                </table>
            </form>

                {% if data %}
                <form action="http://127.0.0.1:8000/student/updateaction/" method="POST">
                    <table class="table table-borderless table-striped">
                        {% for i in data %}
                            <tr>
                                <td>id</td>
                                <td><input name="newid" value="{{i.id}}"type="text" class="form-control" readonly></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td><input name="newname" value="{{i.name}}"type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>rollno</td>
                                <td><input name="newroll" value="{{i.rollno}}"type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>adminno</td>
                                <td><input name="newadmin" value="{{i.adminno}}"type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>college</td>
                                <td><input name="newcollege" value="{{i.college}}"type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>parent</td>
                                <td><input name="newparent" value="{{i.parent}}" type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>Mobnum</td>
                                <td><input name="newmob" value="{{i.mobnum}}"type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>Department</td>
                                <td><input name="newdepart" value="{{i.department}}" type="text" class="form-control"></td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td><button class="btn btn-warning">UPDATE</button></td>
                            </tr>

                        {% endfor %}    
                    </table>
                </form>
                {% endif %}
        </div>
        
        <div class="col col-12 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>






{% endblock %}

