{% extends 'header_lib.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
          <form action="http://127.0.0.1:8000/Librarian/addpage/" method="post">
            <center><marquee behavior="scroll" direction="left"><h4>LIBRARIAN APP</h4></marquee></center>
            <table class="table table-borderless">
                <tr>
                    <td><h6>LIBRARIAN CODE</h6></td>
                    <td><input name="librarian_code" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>NAME</h6></td>
                    <td><input  name="name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>ADDRESS</h6></td>
                    <td><input  name="address" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>MOBILE NO</h6></td>
                    <td><input  name="mobile_no" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>PINCODE</h6></td>
                    <td><input  name="pincode" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>EMAIL ID</h6></td>
                    <td><input  name="email_id" type="text" class="form-control"></td>
                </tr>
               
                    <td></td>
                    <td><center><button type="submit" class="btn btn-outline-secondary">REGISTER</button></center></td>
                </tr>
            </table>
          </form>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
</div>    
{% endblock %}
    
