{% extends 'header_lib.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/Librarian/search/" method="post">
            <center><marquee behavior="scroll" direction="left"><h4>LIBRARIAN APP</h4></marquee></center>
            <table class="table table-borderless">
                <tr>
                    <td><h6>LIBRARIAN CODE</h6></td>
                    <td><input name="librarian_code" placeholder="ENTER THE CODE TO SEARCH" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><center><button type="submit" class="btn btn-outline-secondary"><h6>SEARCH</h6></button></center></td>
                </tr>
            </table>
           </form>
           {% if data %}
           <table class="table table-borderless">
               {% for i in data %}
               <tr>
                   <td>LIBRARIAN CODE</td>
                   <td>{{i.librarian_code}}</td>
               </tr>
               <tr>
                <td>NAME</td>
                <td>{{i.name}}</td>
            </tr>
            <tr>
                <td>ADDRESS</td>
                <td>{{i.address}}</td>
            </tr>
            <tr>
             <td>MOBILE NO</td>
             <td>{{i.mobile_no}}</td>
         </tr>
         <tr>
            <td>PINCODE</td>
            <td>{{i.pincode}}</td>
        </tr>
        <tr>
            <td>EMAIL ID</td>
            <td>{{i.email_id}}</td>
        </tr>
      
               {% endfor %}
           </table>

           {% endif %}
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
     
{% endblock %}