{% extends 'header_lib.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
        <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <center><marquee behavior="scroll" direction="left"><h4>LIBRARIAN APP</h4></marquee></center>
            <table class="table table-striped">
                <thead class="table-secondary">
                    <tr>
                        <th>LIBRARIAN CODE</th>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>MOBILE NO</th>
                        <th>PINCODE</th>
                        <th>EMAIL ID</th>
                        
                    </tr>
                    
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.librarian_code }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.address }}</td>
                        <td>{{ i.mobile_no }}</td>
                        <td>{{ i.pincode }}</td>
                        <td>{{ i.email_id }}</td>
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
    </div>
</div>     

{% endblock %}