{% extends 'header.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            
    
            <form action="http://127.0.0.1:8000/books/delete_api/" method="post">
            <table class="table table-borderless">
                <tr>
                    <td>Book Name</td>
                    <td><input name="book_name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><center>
                        <Button type="submit" class="btn btn-success">SEARCH</Button>
                    </center></td>
                </tr>
            </table>

          </form>
          {% if data %}
          <form action="http://127.0.0.1:8000/books/deletedata/" method="post">
            <table class="table table-borderless">
                  {% for i in data %}
                  <tr>
                      <td>ID</td>
                      <td><input name="newid"value="{{i.id}}"type="hidden" class="form-control"></td>
                  </tr>
                  <tr>
                      <td>Book Name</td>
                      <td><input name="newbookname"value="{{i.book_name}}"type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td>Author</td>
                      <td><input name="newauthor"value="{{i.author}}" type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td><input name="newdescription"value="{{i.description}}" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input name="newprice"value="{{i.price}}" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td><input name="newcategory"value="{{i.category}}" type="text" class="form-control"></td>
                </tr>
                  <tr>
                        <td> </td>
                        <td>
                              <center><Button type="submit" class="btn btn-success">DELETE</Button></center>
                        </td>
                  </tr>
                  {% endfor %}
              </table>
          </form>
          {% endif %}
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>

{% endblock %}
