{% extends 'header.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <form action="http://127.0.0.1:8000/books/search/" method="post">
            <table class="table table-borderless">  
            <tr>
                    <td>BOOK NAME</td>
                    <td><input name="book_name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><center>
                        <button type="submit"class="btn btn-primary">SEARCH</button>
                    </center></td>
                </tr>
            </table> 
        </form>
        {% if data %}
        <table class="table table-borderless">
            {% for i in data %}
            <tr>
                <td>Book Name</td>
                <td>{{i.book_name}}</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>{{i.author}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{i.description}}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>{{i.price}}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{i.category}}</td>
            </tr>
            {% endfor %}
            
        </table>
    
        {% endif %}
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
{% endblock %}

