{% extends 'header.html' %}
{% block myDic %}


    
<div class="container">
    <div class="row">
        <div class="col col-2 col-sm-2 col-lg-2 col-xl-2"></div>
        <div class="col col-8 col-sm-8 col-lg-8 col-xl-8">
            <style>
                body{
                    background-image: linear-gradient(red,green);
                    height: 100vh;
                  }
                </style>

            <h1 style="color: rgb(36, 25, 19) ; font-size: xx-large; font-style: inherit;" >VIEW DETAILS</h1>

<table class="table table-striped">
<thead class="table-dark">
<tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Specialisation</th>
    <th>Doctor code</th>
    
</tr>


</thead>
<tbody>
    {% for i in data %}
<tr>
    <td>{{ i.name }}</td>
    <td>{{ i.address }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.phone }}</td>
    <td>{{ i.special }}</td>
    <td>{{ i.doctorcode }}</td>
    
   
    
</tr>
{% endfor %}

</tbody>

</table>


        </div>
        <div class="col col-2 col-sm-2 col-lg-2 col-xl-2"></div>
    </div>
</div>
   
{% endblock %}