{% extends 'header.html' %}

{% block mycontent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">

        </div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
         <form action="http://127.0.0.1:8000/patients/search/" method="post">
            <table class="table table-borderless">
                <tr>
                    <td> Patient_Code </td>
                    <td> <input name="p_code" type="text" class="form-control"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>  <center> <Button type="submit" class="btn btn-success"> Search </Button> </center></td>
                </tr>
            </table>
         </form>

         {% if data  %}
         <table class="table">
          
             <tr>
                 <td> Patient Name </td>
                 <td> {{data.name}} </td>
             </tr>
             <tr>
                 <td> Address </td>
                 <td> {{data.address}} </td>
             </tr>
            
             <tr>
                <td> Email_Id </td>
                <td> {{data.mail}} </td>
            </tr>
            <tr>
                <td> Phone_Number </td>
                <td> {{data.phone_no}} </td>
            </tr>
            <tr>
                <td> Pincode </td>
                <td> {{data.pincode}} </td>
            </tr>
         </table>
         {% endif  %}

        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">

        </div>
    </div>
</div>

{% endblock %}