{% extends 'header.html' %} 

{% block x %} 

<style>
body{
         background:radial-gradient(#00d9ff,#3f4bf4); 
         height: 100vh;
         font-family: serif; 
         text-shadow: 0 0 0.5px #1900ff, 0 0 0.5px #8c00ff;
         color: white;
     }
h1{
    
    text-shadow: 0 0 3px #1900ff, 0 0 5px #8c00ff;
   
    font-family: serif;
   }

   .table{
   
   font-family: serif;
   font-family: sans-serif;
   color: white;
}

</style>

<h1 align="center" >VIEW DETAILS</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-striped">
               



                <thead  >
                    <tr >
                        <th>NAME</th>
                        <th>ROLL NUMBER</th>
                        <th>ADMISSION NUMBER</th>
                        <th>COLLEGE</th>
                        <th>PARENT NAME</th>
                        <th>MOBILE NUMBER</th>
                        <th>DEPARTMENT</th>
                        
                        
                    </tr>
                </thead>  

                <tbody >
                    {% for i in data %} 
                <tr >
    
                    <td style="color:white;">{{i.name }}</td>
                    <td style="color:white;">{{i.rollno }}</td>
                    <td style="color:white;">{{i.admno }}</td>
                    <td style="color:white;">{{i.college }}</td>
                    <td style="color:white;">{{i.parent_name }}</td>
                    <td style="color:white;">{{i.mobile }}</td>
                    <td style="color:white;">{{i.department }}</td>
                    
            
                    
                </tr>
                    {%  endfor  %}

                </tbody>
                    
                </table>
            </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
           

{% endblock   %}
    
    

    
    
