{% extends 'header.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
        <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <center><marquee behavior="scroll" direction="left"><h4>BOOKS APP</h4></marquee></center>
            <table class="table table-striped">
                <thead class="table-secondary">
                    <tr>
                        <th>BOOK NAME</th>
                        <th>AUTHOR</th>
                        <th>DESCRIPTION</th>
                        <th>PRICE</th>
                        <th>CATEGORY</th>
                        
                    </tr>
                    
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.book_name }}</td>
                        <td>{{ i.author }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.price }}</td>
                        <td>{{ i.category }}</td>
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
    </div>
</div>     

{% endblock %}