{% extends 'header.html' %}

{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <form action="http://127.0.0.1:8000/student/search/" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>Admno</td>
                        <td><input name="admno" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><center><Button type="submit" class="btn btn-info">Search</Button></center></td>
                    </tr>
                </table>
    
            </form>
            {% if data %}
                  <table class="table table-borderless">
                      {% for i in data %}
                      <tr>
                          <td>Name</td>
                          <td>{{ i.sname }}</td>
                      </tr>
                      <tr>
                        <td>Roll no</td>
                        <td>{{ i.rollno }}</td>
                    </tr>
                    <tr>
                        <td>Admission No</td>
                        <td>{{ i.admno }}</td>
                    </tr>
                    <tr>
                        <td>College</td>
                        <td>{{ i.college }}</td>
                    </tr>
                    <tr>
                        <td>Parent</td>
                        <td>{{ i.parent }}</td>
                    </tr>
                    <tr>
                        <td>Mobileno</td>
                        <td>{{ i.mobileno }}</td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td>{{ i.department }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                  {% endif %}
        </div>
        <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
    </div>
</div>
{% endblock %}