{% extends 'header.html' %}

{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <table class="table table-striped">
                <thead class="table-secondary">
                    <tr>
                        <th>Name</th>
                        <th>Roll no</th>
                        <th>Admno</th>
                        <th>College</th>
                        <th>Parent</th>
                        <th>Mobileno</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.sname }}</td>
                        <td>{{ i.rollno }}</td>
                        <td>{{ i.admno }}</td>
                        <td>{{ i.college }}</td>
                        <td>{{ i.parent }}</td>
                        <td>{{ i.mobileno }}</td>
                        <td>{{ i.department }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
    </div>
</div>
{% endblock %}