{% extends 'header.html' %}
{% block myContent %}


    <div class="container">
        <div class="row">
            <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <table class="table table-borderless">
                    <tr>
                        <td>Faculty Code</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    
                    <tr>
                        <td>Mobile Number</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td><center><Button class="btn btn-info">Register</Button></center></td>
                    </tr>
                </table>

            </div>
            <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
        </div>
    </div>
    {% endblock %}