{% extends 'header.html' %} 

{% block myContent %}

<div class="container">
    <div class="row">
      <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <table class="table">
        <h3><center>VIEW ALL STUDENTS</center></h3>
        <thead class="table">
          <tr>
            <th>Name</th>
            <th>Faculty Code</th>
            <th>Address</th>
            <th>Mobile Number</th>
            <th>Department</th>
          </tr>
        </thead>
        {% for i in data %}
        <tbody>
          <tr>
            <td>{{i.name   }}</td>
            <td>{{i.faculty_code  }}</td>
            <td>{{i.address }}</td>
            <td>{{i.mobilenumber }}</td>
            <td>{{i.department }}</td>
          </tr>
        {% endfor %}
  
        </tbody>
        </table>
  
      </div>
  
      <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
  {% endblock %}